@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-foreground: #f8fafc;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything still looks the same.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Prevent scrolling */
}

/* Custom Utilities */
@utility text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-blue-400 to-purple-600;
}

@utility glass-panel {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl;
}
